:root {
  --color-primary: #00b894;
  --color-secondary: #0984e3;
  --grid-maxWidth: 108rem;
}

body.dark {
  --bg-color: #000;
  --bg-secondary-color: #131316;
  --font-color: #f5f5f5;
  --color-grey: #ddd;
  --color-darkGrey: #777;
  --color-secondary: #fdcb6e;
}

.button+.button {
  margin-left: 0;
}

main {
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  flex-direction: column;
  min-height: 100vh;
}

input:disabled {
  background-color: var(--color-grey);
}

footer {
  width: 100%;
  margin: 2em 0;
}

.description {
  display: flex;
}

.description div {
  padding: 1em;
}

.qa {
  display: flex;
  align-items: start;
  justify-content: stretch;
  flex-direction: column;
}

.answer {
  padding: 1em;
  position: relative;
}

.answer-text {
  font-size: 1.2em;
  padding-left: 1em;
  font-style: italic;
  border-left: 0.15em solid var(--color-secondary);
  color: var(--color-secondary);
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blinking {
  from {
    border-color: transparent;
  }

  to {
    border-color: orange;
  }
}

.question {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
}

.question div {
  width: 100%;
}

.question div i {
  font-size: 0.75em;
}

.question form {
  display: flex;
  align-items: start;
  justify-content: stretch;
}

.sample-questions {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  padding: 1em;
  width: 100%;
  height: 250px;
  overflow: auto;
  flex-wrap: wrap;
}

.sample-questions button {
  margin: 0.25em;
}

.lds {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
}

.lds div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: var(--color-primary);
  animation: lds 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.lds div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.lds div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes lds {
  0% {
    top: 8px;
    height: 64px;
  }

  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

.answer .lds {
  top: -1em;
}